@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  @import "_focus-visible.css";
}

@layer components {
  .hyperlink {
    @apply flex items-center text-primary-600 visited:text-secondary-900 hover:underline;

    &[href^="https://"]::after {
      @apply ml-1 inline-block h-[1em] w-[1em];
      content: url(./icons/external.svg);
    }
  }
}



@layer utilities {
  .circle-clip {
    clip-path: circle();
  }
}
.dark {
  --warning: 48 96% 89%;
  --warning-foreground: 38 92% 50%;

  .text-steelgray {
    --tw-text-opacity: 1;
    color: white;
  }
    @media (min-width: 768px) {
      .md\:text-md\/xl {
        font-size: 1.125rem;
        line-height: 1.75;
        color: white;
      }
           
    }
    .text-scapaflow {
           --tw-text-opacity: 1;
           color: white;
         }
  }
        
#leftBox{
  margin-top: 1rem;
    padding-left: 50px;
    padding-right: 40px;
}
@media (min-width: 1024px) {
  .lg\:text-heading-lg {
    font-size: 3.0rem;
    line-height: 1.25;
    margin-left: 55px;
  }
}